.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.greeting-heading {
  font-family: 'Roboto';
  font-size: 40px;
  color: #1e293b;
}
@media screen and (max-width: 767px) {
  .greeting-heading {
    font-family: 'Roboto';
    font-size: 20px;
    color: #1e293b;
  }
}

.unOrderList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40vw;
}

.image {
  width: 20vw;
}

@media screen and (max-width: 767px) {
  .image {
    width: 60vw;
  }
}
